
.body-container {
    padding-top: 20px;
}

.login-form input {
    width:140px !important;
}

.body-container .btn {
    margin:2px;
}

.disabled {
    opacity:0.4;
}

.upload-progress {
    display:none;
    line-height: 0.8;
    height:50px;
    font-size:120%;
}

.progress-bar {
    height:100%;
}

.table form {
    display: inline;
}

.actions {
    white-space: nowrap;
    width:1%;
}
