{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>
    <a href="{{ path('category_index') }}">&laquo; back to list</a>

    {{ include('category/_form.html.twig') }}

{% endblock %}
