{% extends 'base.html.twig' %}

{% block title %}
    Leaderboard
{% endblock %}

{% block body %}

<h1>Leaderboard</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            {% if app.user and is_granted('ROLE_ADMIN') %}
            <th class="text-info">Confidence</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td><b>{{ loop.index }}</b></td>
            <td><b>{{ user.username }}</b></td>
            <td>{{ max(0, user.score) }}</td>
            {% if app.user and is_granted('ROLE_ADMIN') %}
            <td class="text-info">
                {% if user.score %}
                {{ max(0, 100*(1-10*user.disagree/user.score)|round(4)) }}%
                {% else %}
                ?
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
